:root {
    --border-radius: 6px;
    --outer-border: #020508;
    --border-main: #606365;
    --button-bg-inactive: #202c30;
    --button-bg-inactive-hover: #344a52;
    --inner-border-lighter: #878e91;
    --bg-main: rgba(24, 24, 24, 0.7);
    --blue-bg-components: 53, 95, 157;
    --blue-border-components: 81, 150, 253;
    --yellow-bg-components: 153, 146, 63;
    --yellow-border-components: 153, 146, 63;

    --content-width: 800px;
}

.overlay-root {
    background-color: transparent;
}

.window-content {
    background-color: var(--bg-main);
    padding: 12px;
    margin: 12px;
    border: 1px solid var(--outer-border);
    box-shadow: inset 0 0 0 1px var(--inner-border-lighter);
    border-radius: var(--border-radius);
    font-size: 20px;
    min-width: var(--content-width);
}

.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    transition: 0.25s ease-in-out;
    margin-bottom: 0px;
}

.result-item {
    padding: 6px;
}

button {
    border-radius: var(--border-radius);
    border: 1px solid var(--outer-border);
    box-shadow: inset 0 0 0 1px var(--border-main);
    background:
        linear-gradient(to bottom,
            #fff 0,
            rgba(129, 129, 129, .55) 3%,
            rgba(56, 56, 56, .55) 50%,
            rgba(27, 27, 27, .55) 50%);
    background-color: var(--button-bg-inactive);
    color: white;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.15s ease;
    min-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

button:hover {
    box-shadow: inset 0 0 0 1px var(--inner-border-lighter);
}
